<mat-card class="example-card" *ngFor = "let item of items$ | async">
<div class="content" >
      <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
      </mat-card-header>

      <mat-card-subtitle>
        Price : {{item.price}}$
       <br>
        Quantity: {{item.quantity}} units
        <br>
      </mat-card-subtitle>

      <mat-card-subtitle>
        InStock: 
        <mat-checkbox *ngIf="item.instock" [checked]="true" (click)="changeStock(item.id, item.instock)">{{item.instock}}</mat-checkbox> 
        <mat-checkbox *ngIf="!item.instock" (click)="changeStock(item.id, item.instock)">{{item.instock}}</mat-checkbox>
      </mat-card-subtitle>
  

  <mat-card-actions  class="editButton">
    <div *ngIf = "!beforeDelete">
    <button mat-raised-button color="primary" (click) = "click()">Delete</button>
   </div>
   <div *ngIf = "beforeDelete">
    <p>Are you sure?</p>
    <button mat-raised-button color="warn" (click) = "deleteItem(item.id)">Delete</button>
    <button mat-raised-button color="primary" (click) = "beforeDelete=!beforeDelete">Cancel</button>  
  </div>   
  </mat-card-actions>
</div>

</mat-card>
